<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Books Catalogue</title>
</head>
<body>
<div layout:fragment="content">
    <div th:x-data="|initData('${pageNo}')|">
        <h1>List of books displayed here</h1>
        <h1>There are currently <span x-text="count">0</span> books in the bookstore</h1>
        <h1>Displaying page number <span x-text="pageNo">0</span></h1>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script src="/js/products.js"></script>
</div>
</body>
</html>